.top {
    text-align:right;
}
.source, code, tt {
    font-size: 120%;
}

#ohloh {
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    float:right;
    background-color:#eeeded;
}
h3 {
    color: white;
}
